.intro-feature{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.intro-feature-desk-img{
    display: block;
}

.intro-feature-tablet-img{
    display: none;
}

.intro-feature-mobile-img{
    display: none;
}


.intro-feature-content-one { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    grid-area: 1 / 1 / 2 / 2; 
    height: 500px;
}

.intro-feature-content-one h1{ 
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin: 0 0 15px 0;
    font-weight: 600;
    padding: 0px 0px 0px 80px;
}

.intro-feature-content-one p{ 
    color: white;
    font-size: 0.6rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    padding: 0px 90px 0px 80px;
}
.intro-feature-content-two {
     grid-area: 1 / 2 / 2 / 4; 
     height: 500px;
    }

.intro-feature-content-two img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 1120px) {
    .intro-feature{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .intro-feature-content-one { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        grid-area: 1 / 1 / 2 / 2; 
        height: 500px;
    }


    .intro-feature-desk-img{
        display: none;
    }

    .intro-feature-tablet-img{
        display: block;
    }

    .intro-feature-content-two {
        grid-area: 1 / 2 / 2 / 3; 
        height: 500px;
       }
}

@media screen and (max-width: 734px) {
    .intro-feature{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 1000px;
    }

    .intro-feature-content-one { 
        grid-area: 2 / 1 / 3 / 2;
        
    }


    .intro-feature-desk-img{
        display: none;
    }

    .intro-feature-tablet-img{
        display: none;
    }

    .intro-feature-mobile-img{
        display: block;
    }

    .intro-feature-content-two {
        grid-area: 1 / 1 / 2 / 2;
       }
}